<meta charset="UTF-8">
<title> <%=room%></title>
<link rel="icon" type="image/x-icon" href="/images/logo.ico">
<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<style>
    html,
    body {
        height: 100%;
    }

    .button {

        display: block;
        margin: 10px 0;
        padding: 10px;
        width: 600px;
       height: 600px;
        border-radius: 50%;
        font-size: 90pt;
        margin-top: 50px;
    }
</style>
<script>

    $(document).ready(function () {
       
        var socket = io("/");
        const funcsend = (name, msg) => {
            socket.emit(name, msg);
        }
        funcsend("Joinroom","<%=room%>")
        //client nhận dữ liệu từ server
        socket.on("RoomAlert",function(data){
           console.log(data);
        })
        socket.on("Server-sent-data", function (data) {
            if (data === 'start' || data === 'longstart') {

                $("#send").attr("disabled", true);
                $("#send").html('Running...');

            }
        })
        socket.on("Server-sent-home-ready", function (data) {
            if (data == "homeready") {
                $("#send").attr("disabled", false);
                $("#send").html('Press...');

            }
        })
        $("#send").click(function (e) {
            e.preventDefault();
            if (!this.dataset.ignoreClick) {
                funcsend("Client-sent-data","start <%=room%>");
            }

        });
        $("#send").on('mousedown touchstart', function () {
            const btn = this;
            delete this.dataset.ignoreClick;
            btn.dataset.longPressTimer = setTimeout(function () {
                funcsend("Client-sent-data","longstart <%=room%>");
                btn.dataset.ignoreClick = true;
            }, 1000)
        }).on('mouseup mouseleave touchend', function (e) {
            clearTimeout(this.dataset.longPressTimer)
            //alert("fuck");
            funcsend("Client-sent-data","endlongstart <%=room%>");
        });
    })


</script>

<body>
  
    <div class="container h-100 d-flex justify-content-center">
        <div class="my-auto">
            <button class="button btn btn-primary" id="send">Press...</button>
        </div>
    </div>
   
</body>